.menuNavegacion a:hover {
  background: #FDB904;
  border-radius: 5px; }

.lineaTitulo {
  height: 8px;
  width: 80px;
  background-color: #FDB904;
  display: table;
  margin-top: 10px; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.card-amortiguador {
  background-image: url("../imagenes/Productos/Amortiguador.jpg");
  background-size: cover; }

.card-precap {
  background-image: url("../imagenes/Productos/precap.jpg");
  background-size: cover; }

.card-bieleta {
  background-image: url("../imagenes/Productos/bieletas.jpg");
  background-size: cover; }

.card-buje {
  background-image: url("../imagenes/Productos/buje.jpg");
  background-size: cover; }

.card-cajaDirrecion {
  background-image: url("../imagenes/Productos/cajaDirrecion.jpg");
  background-size: cover; }

.card-cazoleta {
  background-image: url("../imagenes/Productos/cazoletas.jpg");
  background-size: cover; }

.card-extremo {
  background-image: url("../imagenes/Productos/extremos.jpg");
  background-size: cover; }

.card-fuelle {
  background-image: url("../imagenes/Productos/fuelles.jpg");
  background-size: cover; }

.card-resortes {
  background-image: url("../imagenes/Productos/Resortes.jpg");
  background-size: cover; }

.card-rotulas {
  background-image: url("../imagenes/Productos/rotulas.jpg");
  background-size: cover; }

.card div h2 {
  color: #185ADB; }

.iconoRedes {
  padding-right: 10px;
  font-size: 5rem;
  color: #FDB904; }
  .iconoRedes i:hover {
    color: black; }

.iframe {
  width: 100%;
  height: 100%; }

@media only screen and (min-width: 100px) and (max-width: 425px) {
  .iconoRedes {
    font-size: 2.5rem; } }

@media only screen and (min-width: 425px) and (max-width: 768px) {
  .iconoRedes {
    font-size: 3.33333rem; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .iconoRedes {
    font-size: 5rem; } }

body {
  font-family: "Roboto", sans-serif;
  font-weight: normal; }

footer {
  background-color: black; }

.imgFooter {
  width: 200px;
  height: 60px; }

.ulSocialFooter {
  list-style: none; }
  .ulSocialFooter i {
    padding-right: 10px;
    color: white;
    font-size: 2.5rem; }
  .ulSocialFooter i:hover {
    color: #FDB904; }

@media only screen and (max-width: 560px) {
  .imgFooter {
    width: 133.33333px;
    height: 40px; }
  footer .ulSocialFooter i {
    font-size: 1.66667rem; } }

/*@import "bem";*/
body {
  font-family: "Roboto", sans-serif;
  font-weight: normal; }

/* Carousel */
/*.carousel {
    margin-bottom: 4rem;
}
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

.carousel-item {
    height: 32rem;
}
.carousel-item{
    img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 32rem;
    }
}

.carousel-titulo { 
    animation-duration: 3s;
    animation-name: aparecer; 
    background-image: linear-gradient(to left,$primaryColor, black);
}

.carousel-subTitulo {
    animation-duration: 10s;
    animation-name: aparecer; 
    background-image: linear-gradient(to top,$secondaryColor, black);
}*/
.card-amortiguador {
  background-image: url("../imagenes/Productos/Amortiguador.jpg");
  background-size: cover; }

.card-precap {
  background-image: url("../imagenes/Productos/precap.jpg");
  background-size: cover; }

.card-bieleta {
  background-image: url("../imagenes/Productos/bieletas.jpg");
  background-size: cover; }

.card-buje {
  background-image: url("../imagenes/Productos/bujes.jpg");
  background-size: cover; }

.card-cajaDirrecion {
  background-image: url("../imagenes/Productos/cajaDirrecion.jpg");
  background-size: cover; }

.card-cazoleta {
  background-image: url("../imagenes/Productos/cazoletas.jpg");
  background-size: cover; }

.card-extremo {
  background-image: url("../imagenes/Productos/extremos.jpg");
  background-size: cover; }

.card-fuelle {
  background-image: url("../imagenes/Productos/fuelles.jpg");
  background-size: cover; }

.card-resortes {
  background-image: url("../imagenes/Productos/Resortes.jpg");
  background-size: cover; }

.card-rotulas {
  background-image: url("../imagenes/Productos/rotulas.jpg");
  background-size: cover; }

.card div h2 {
  color: #185ADB; }
