/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

.carousel-item {
    height: 35rem;
}


.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
}

@media only screen and (max-width:560px){

    .carousel-item {
        height: 15rem;
    }
    
    .carousel-item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 15rem;
    }
}