/* Carousel 
.carousel-titulo { 
    animation-duration: 3s;
    animation-name: aparecer; 
    background-image: linear-gradient(to left,$primaryColor, black);
}

.carousel-subTitulo {
    animation-duration: 10s;
    animation-name: aparecer; 
    background-image: linear-gradient(to top,$secondaryColor, black);
}

.carousel {
    margin-bottom: 4rem;
}*/ 